
    .tag-input-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      /* border: 1px solid #ccc; */
      border: none;
      border-radius: 8px;
      padding: 6px 10px 6px 38px; /* space for icon */
      min-height: 48px;
      background: #fff;
      position: relative;
    }

    .tag {
      background-color: #f44336;
      color: white;
      border-radius: 20px;
      padding: 5px 10px;
      margin: 3px;
      display: flex;
      align-items: center;
      font-size: 14px;
    }

    .tag i {
      margin-left: 6px;
      cursor: pointer;
    }

    .tag-input-wrapper input {
      border: none;
      outline: none;
      flex: 1;
      min-width: 100px;
      padding: 6px;
      font-size: 16px;
    }

    .icon-left {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      font-size: 18px;
      color: #f44336;
      z-index: 5;
    }

    .suggestions {
      position: absolute;
      background: white;
      width: 100%;
      border: 1px solid #ccc;
      max-height: 320px;
      overflow-y: auto;
      z-index: 10;
      top: 100%;
      left: 0;
      border-radius: 8px;
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
      padding: 16px;
    }

    .suggestion-category {
      margin-bottom: 16px;
    }

    .suggestion-category h6 {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 10px;
      color: #333;
    }

    .recent-searches {
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
    }

    .recent-item {
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 10px 14px;
      background: #f8f9fa;
      font-size: 14px;
      cursor: pointer;
    }

    .recent-item:hover {
      background-color: #f1f1f1;
    }

    .location-item {
      padding: 8px 0;
      font-size: 15px;
      cursor: pointer;
      color: #333;
    }

    .location-item:hover {
      background-color: #f8d7da;
      color: #b71c1c;
      padding-left: 6px;
    }

    .mynew-input{
        border: none !important;
        outline: none;
        border-color: white;
    }

    .w-25{
        width: 30% !important;
    }
    .w-40{
      width: 40% !important;
    }

    .btn:hover{
        border: none;
    }

    .card-body{
      overflow: hidden;
      height: 165px;
    }

    .card-body p{
       display: -webkit-box;
  -webkit-line-clamp: 2; /* Change this to number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
    }

    .my-prop-item {
    padding: 10px 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    background: #f8f9fa;
    transition: 0.2s ease;
  }

  .my-prop-item.active {
    background-color: #dc3545;
    color: white;
    border-color: #dc3545;
  }